{:paths ["src"]
 :deps {org.clojure/tools.cli {:mvn/version "0.3.5"}}
 :aliases
 {:test {:extra-deps {org.clojure/test.check {:mvn/version "LATEST"
                                              :scope "test"}}
         :extra-paths ["test"]}}}
